.photo-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: 1184px;
  margin: 85px auto 0;
  padding: 0 45px 90px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 1024px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 0 15px;

  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    max-width: 288px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    column-gap: 12px;
    margin: 64px auto 0;
  }
}
@media screen and (max-width: 329px) {
  .photo-grid {
    gap: 12px;
    width: 100%;
    padding: 62px 16px 0 16px;
    margin: 0;
  }
}