.places {
  max-width: 984px;
  margin: 0 auto 8px auto;
}

@media screen and (max-width: 1024px) {

  .places {
      max-width: 928px;

  }

}

@media screen and (max-width: 768px) {

  .places {
      margin: 120px 24px 65px;
  }

}

@media screen and (max-width: 600px) {

  .places {
      max-width: 320px;
      margin: 0 auto 66px auto;
  }

}
@media screen and (max-width: 319px) {
  .places {
      padding-top: 55px;
      display: flex;
      flex-direction: column;
  }
}