.intro__list {
    list-style-type: none;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    width: 957px;
    max-width: 100%;
  }
  @media screen and (max-width: 1024px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__list {
        max-width: 288px;
    }
}
