.cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    position: relative;
    margin: 25px 0 10px 0;
  }
  @media (max-width: 1024px) {
    .cover__subtitle {
      font-weight: 400;
    }
  }
