.cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    position: relative;
    padding-top: 20px;
    margin-top: 10px;
  }
  @media (max-width: 1025px) {
    .cover__subtitle {
      margin-bottom: 85px;
    }
  }
