.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0;
    max-width: 720px;
    width: 100%;
  }

  @media (max-width: 768px) {
    .lead__title {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @media screen and (max-width: 425px) {
    .lead__title {
      font-size: 40px;
      line-height: 44px;
    }
  }