.cover {
    background-image: url(../../images/sprint-3-images/cover-trains.jpg);
    display: flex;
    font-family: "Inter";
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    max-width: 1190px;
  }
  @media screen and (max-width: 1024px) {
    .cover {
        max-height: 640px;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
        min-height: 480px;
    }
}

@media screen and (max-width: 600px) {
    .cover {
        margin: 45px 0 64px;
    }
}