.footer {
    margin: 75px 0;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 1024px) {
    .footer {
     padding: 127px 49px 35px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .footer {
      flex-direction: column;
      margin: 0;
      padding-left: 16px;
    }
  }