.footer {
    margin: 0 auto 0;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
}
@media screen and (max-width: 1023px) {
    .footer {
     padding: 25px 49px 35px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .footer {
      padding: 32px 16px 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
    }
  }