.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .place__url-heading {
  margin-top: 20px;
  }
}