.intro__title {
  max-width: 690px;
  text-align: start;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 70px 0 60px 0;
}

@media screen and (max-width: 767px) {
  .intro__title {
  max-width: 250px;
  font-size: 32px;
  line-height: 35px;
  }
}